body {
  margin: 0;
  overflow-y: hidden;
}

#root {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";

  width: 100vw;
  height: 100vh;
}

.page-header {
  grid-area: header;
  background-color: hsl(306, 40%, 25%);
  box-shadow: 0px 2px 5px 0px hsl(307, 38%, 21%);
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 2rem; /* 新增 */
}

.page-header > .logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-header > .title {
  font-size: 2.1rem;
  color: #eee;

  font-weight: bolder;

  letter-spacing: 0.15em;
  user-select: none;
}

.page-footer {
  grid-area: footer;
  line-height: 2;
  color: #999;
  margin-top: 1em;
  text-align: center;
}

.page-sidebar {
  grid-area: sidebar;
  background-color: hsl(307, 38%, 85%);
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.page-sidebar > ul {
  list-style: none;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  padding-top: 1rem;
  padding-left: 1rem;

  font-size: 2.1rem;
}

.page-sidebar > ul > li {
  color: hsl(306, 40%, 25%);
  display: flex;
}

.page-sidebar > ul > li > a {
  flex: 1 1;
  display: block;

  letter-spacing: 0.1em;
  padding: 0.1em 0.5em;

  user-select: none;
  text-decoration: none;

  position: relative;
}

.page-sidebar > ul > li > a:link,
.page-sidebar > ul > li > a:visited {
  color: unset;
}

.page-sidebar > ul > li > a:hover {
  background-color: hsl(307, 38%, 65%);
  color: #eee;
}

.page-sidebar > ul > li > a.active {
  background-color: hsl(307, 38%, 75%);
}

.page-sidebar > ul > li > a.active::after {
  content: " ";
  position: absolute;

  width: 0;
  height: 0;
  right: 0;
  margin: 5px 0px;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 0.5em solid hsl(307, 38%, 90%);
}

.page-body {
  grid-area: main;
  min-height: calc(100vh - 4rem); /* 4rem header + 2rem footer */
  position: relative;

  background-color: hsl(307, 38%, 90%);

  overflow-y: auto; /* 改为标准滚动条 */
}
