form {
  width: 20em;
}

form .field {
  display: flex;
  align-items: baseline;
}

form .field > label {
  width: 6em;
  display: inline-block;
}

form .field input {
  margin: 5px 0px;
  padding: 5px 5px;
  font-size: 1.1em;

  flex: 1 1;
}

form .field .radio-choices {
  flex: 1 1;

  display: flex;
  justify-content: space-around;
}

form .field .radio-choices .option {
  display: flex;
  align-items: center;
}

form .field .radio-choices input[type="radio"] {
  margin-left: 1em;
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
}

.paper-footer > .btns {
  display: flex;
  justify-content: space-around;
  width: 20em;
}
